body{
    margin: 0;
    font-family:'Montserrat', sans-serif;
    background-color: #E0E0E0;
}


.container_nachalo{
    background-color: #E0E0E0;
    display: flex;
flex-direction: column;
align-items: center;
 
}

.title {
    background-color: #D6D6D6;
    color: #474747;
    font-size: 65px;
    text-align: center;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    position: relative;
    width: 90%;
     border: 5px solid #C2C2C2;
}

.photo{
    margin-left: 30px;
    margin-right: 30px;
display: flex;
    justify-content: center;
    margin: 5% auto;
    width: 84%;
    background-color: #D6D6D6;
    padding: 3%;
    border: 5px solid #C2C2C2;
} 

.ph1{
     margin-top: 25px;
 padding: 1%;
margin-right: 25px;
margin-bottom: 25px;
}

.ph2{
     margin-top: 25px;
margin-left: 25px;
margin-right: 25px;
margin-bottom: 25px;
padding: 1%;
}

.ph3{
     margin-top: 25px;
margin-left: 25px;
padding: 1%;
margin-bottom: 25px;
}

.photo img:hover{
 position: relative;
    opacity: 1;
    transform: scale(1.1); 
    transition-duration: 0.5s;
}


.text{
    margin-top: 4%;
    display: flex;
  color: #474747;
 display: flex;
    justify-content: center;
    margin: 5% auto;
    width: 84%;
    border: 5px solid #C2C2C2;
    background-color: #D6D6D6;
    margin-bottom: 5%;
    padding: 3%;
    font-size: 23px;
    flex-direction: column;
}


.ph11{
    text-align: center;
}

.ph11 img:hover{
 position: relative;
    opacity: 1;
    transform: scale(1.1); 
    transition-duration: 0.5s;
}


.tt{
    text-align: center;
   margin-top: 4%;
    display: flex;
  color: #474747;
 display: flex;
    justify-content: center;
    margin: 5% auto;
    width: 84%;
 border: 5px solid #C2C2C2;
    background-color: #D6D6D6;
    margin-bottom: 5%;
    padding: 3%;
    font-size: 23px;
    flex-direction: column;
}


.tit{
    font-size: 27px;
    text-align: center;
color: #474747;
}